.calendar-period {
    display: grid;
    grid-template-columns: 180px 1fr;
}

.calendar-period-header {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.calendar-period-title {
    width: 100%;
    margin: 0;
}

.calendar-period-subtitle p {
    margin: 0;
    font-size: small;
}

.calendar-period-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.calendar-period-container.calendar-period-container--solo {
    grid-template-columns: 1fr;
}

.calendar-multiple-period-tab-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--vc-primary-100);
    color: var(--vc-primary-600);
}

.calendar-multiple-period-tab-header--selected {
    background-color: var(--vc-white);
    color: var(--vc-primary-900);
}

@media (max-width: 1400px) {
    .calendar-period-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .calendar-period {
        grid-template-columns: 1fr;
    }

    .calendar-period-title {
        font-size: 1.125rem;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--vc-slate-200);
        text-align: center;
    }

    .calendar-period-subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}