.calendar-period {
    display: grid;
    grid-template-columns: 180px 1fr;
}

.calendar-period-title {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .calendar-period {
        grid-template-columns: 1fr;
    }

    .calendar-period-title {
        font-size: 1.125rem;
        margin: 0;
        padding: 0 0 1rem 0;
        border-bottom: 1px solid var(--vc-slate-200);
    }
}