.calendar-period {
    display: grid;
    grid-template-columns: 180px 1fr;
}

.calendar-period-header {
    display: flex;
    align-items: center;
}

.calendar-period-title {
    width: 100%;
}

.calendar-period-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 1400px) {
    .calendar-period-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .calendar-period {
        grid-template-columns: 1fr;
    }

    .calendar-period-title {
        font-size: 1.125rem;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--vc-slate-200);
    }
}